.app-header {
    display: flex;
    width: 100%;
    font-size: var(--font-size-xxxlarge);
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--theme-text-light);
    background-color: var(--theme-ui-foreground);
    z-index: var(--indxe-content-title);
    padding: var(--content-spacing-xlarge) var(--content-spacing-xlarge) var(--content-spacing-xsmall) var(--content-spacing-xlarge);
}

.app-header-title {
    display: flex;
    flex-shrink: 1;
}

.app-header-link {
    display: flex;
    text-decoration: none;
    color: var(--theme-navigation-text);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: ease;
}

.app-header-link:hover {
    color: var(--theme-navigation-text-hover);
}